.mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  margin-top: 10px;
  text-align: center;
}

.main-content h1 {
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
}

.image {
  max-width: 45%;
  height: auto;
}
