@import 'bootstrap/dist/css/bootstrap.css';

#root {
  margin: 0 auto;
  text-align: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.reservationButton,.loginButton, .reservationButton, .deleteButton, .backButton, .deleteButton{
  margin: 15px;
}
.outerContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}
.buttonContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 30px;
}
.buttonContainer a {
  flex-grow: 1;
  text-align: center;
  margin: 0 10px;
}
.bm-burger-bars {
  background: #D3D3D3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 1;

}
.bm-menu {
  background: white;
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
}
.bm-item-list {
  color: black;
  padding: 0.8em;
}

.bm-overlay {
  background: yellow;
}
.hamburger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 5px;
  background-color: red;
  /*transform-origin: 1px;
  transition: all 0.3s linear;*/
}
.menu-item {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
}
.bm-burger-bars-hover {
  background: white;
  opacity: 0;
}
.bm-burger-button {
  color: orange;
  width: 40px;
  height: 40px;
  opacity: 1;
}
.field{
  border-radius: 5px;

}
.message{
  margin: 15px;
  text-align: center;
}
.LoginForm, .UserForm{
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formBox{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}
.ImfLogo{
  height: 8vh;
  margin-right: 20px;
}
.mainTitle{
  background-color: #A5101F; /*#8d020b;*/
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;

}
.card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
}
.card-text {
  width: 100%;
  text-align: center;
}

.calendar {

  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}

.flexboxCalendar {
  height: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
}
.flexboxTime{
  display: flex;
  justify-content: end;
  align-content: end;
  align-items: end;
  flex-direction: column;

}

.calendarBox{
  border-radius: 5px;
}
.showTime {
  max-height: 300px;
  overflow-y: scroll;
  padding-left: 20px;
}
.submitOrDeleteButton{
  padding-top: 15px;
}
.backButton{
  padding-top: 15px;
}
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  border-radius: 10px;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}


form {
  display: grid;
  font-size: 1.2rem;
}


a {
  font-weight: 500;
  color: #165593;
  text-decoration: inherit;
}
a:hover {
  color: #B9CCE0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.btn-primary {
  background-color: #567568;
  border-color: #567568;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #7EB09B;
  border-color: #7EB09B;
  transition: background-color 0.5s;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #567568;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #D3D3D3;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

